*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
}

li{
  border-radius: 5px;
}

.category{
  padding:10px;
}
.category-item{
  padding:10px;
  margin:5px;
  background-color: #0284c7;
}
.subcategory{
  padding:10px;
}
.subcategory-item{
  padding:10px;
  margin:5px;
  background-color: #7dd3fc;
}
.items{
  padding:10px;
}
.items-item{
  padding:10px;
  margin:5px;
  background-color: white;
}
